@page "/phone-product/{PhoneProductId}"

@using AdessibindenFrontend.Pages.Components
@using AdessibindenFrontend.Services.Abstract
@using AdessibindenFrontend.Services.Results
@using Application.Features.PhoneProducts.Queries.GetByIdDetails
@inject IPhoneProductService _phoneProductService
@inject IAuthService _authService
@if (isLoadSuccess)
{
    <div class="bg-light">

        <FavouriteOperationsComponent ProductId="@Int32.Parse(PhoneProductId)" CurrentUserId="@CurrentUserId"></FavouriteOperationsComponent>

        <div class=" d-flex align-items-center justify-content-center">
            <div class="container mt-2 mb-5">
                <h1 class="mb-4 text-center">Product Details</h1>

                <div class="card w-50 m-auto">
                    <div class="card-body">

                        <h2 class="card-title">Title: @productDetails.Data.ProductTitle</h2>
                        <div class="text-center">
                            <hr />
                        <img  src="./adesso.png" />
                            <hr />
                        </div>

                        <p class="card-text">Description: @productDetails.Data.ProductDescription</p>

                        <h4 class="card-subtitle mb-1 mt-4 text-muted">Specifications:</h4>

                        <ul class="">
                            <li class="list-group-item"><strong>Model Name: </strong>@productDetails.Data.ModelName</li>
                            <li class="list-group-item"><strong>Color: </strong>@productDetails.Data.ColorName</li>
                            <li class="list-group-item"><strong>Internal Memory Capacity: </strong>@productDetails.Data.InternalMemoryCapacity</li>
                            <li class="list-group-item"><strong>RAM Memory: </strong>@productDetails.Data.RAMMemory</li>
                            <li class="list-group-item"><strong>Usage Status: </strong> @(productDetails.Data.UsageStatus?"Used":"New")</li>
                        </ul>

                        <h4 class="mt-4">Price: $@productDetails.Data.Price</h4>

                        <hr />
                        <div>
                            <h6>Creator User: </h6> <p>@productDetails.Data.ProductCreatorUserEmail</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}

@code {
    [CascadingParameter]
    public Action<bool> LoadingAction { get; set; }

    [Parameter]
    public string PhoneProductId { get; set; } // refactor change this to ProductId (in backend too)

    public int CurrentUserId { get; set; }

    public bool isLoadSuccess { get; set; }

    public IRequestResult<GetByIdDetailsPhoneProductResponse> productDetails;

    protected override async Task OnInitializedAsync()
    {
        LoadingAction(true);

        CurrentUserId = await _authService.GetCurrentUserId();

        productDetails = await _phoneProductService.GetByIdDetails(Int32.Parse(PhoneProductId));

        isLoadSuccess = productDetails.Success;

        LoadingAction(false);
    }

}
